$main-text: #212121;
$accent: #fc842d;
$secondary-text: #9b9faa;
$main-background: #fff;
$secondary-beckground: #f0f1f3;

$burger-background: #264061;
$burger-text: #9b9faa;
$burger-active-text: #fff;

$header-border: #e0e0e0;
$alert-global-border: #e74c3c;
$alert-global-background: #fdedec;
$alert-global-text: #a93226;
